{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="image/x-icon" href="{% static 'img/afit.ico' %}" rel="icon" />

</head>
<body>

    <div id="main">
    <h1>Student Registration</h1>

    <form method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}



        <div class="photoframe">
            <input type="file" name="photo" id="id_photo" required>
            <img id="photoPreview" src="#" alt="Preview" style="max-width: 100%; max-height: 300px; display: none;">
        </div>
        
        <input type="text" placeholder="Your Name" name="name" required/>
        <input type="text" placeholder="Your Phone number" name="phone" required/>
        <input type="text" placeholder="Your Student number" name="number" required/>
        <hr/>

        <label>Class</label><br/>
        <select name="form">
            <option value="REM 1">REM 1</option>
            <option value="REM 2">REM 2</option>
            <option value="REM 3">REM 3</option>
            <option value="REM 4">REM 4</option>
            <option value="REM 5">REM 5</option>
        </select>

        <hr/>
        <h2>Course Registration</h2>

        <fieldset>
            <legend>Subjects</legend>
            {% for subject in all_subjects %}
            <div class="course-box">
                <p>{{ subject.name }}</p>
                <input type="checkbox" name="subjects" value="{{ subject.pk }}"/>
            </div>
            {% endfor %}
            
        </fieldset>

        <button>Register</button>
    </form>

    </div>



<script>

    document.addEventListener('DOMContentLoaded', function() {
        const photoInput = document.getElementById('id_photo');  // Replace 'id_photo' with the actual ID of the photo input field
        const photoPreview = document.getElementById('photoPreview');

        photoInput.addEventListener('change', function() {
            const file = photoInput.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    photoPreview.src = e.target.result;
                    photoPreview.style.display = 'block';
                };

                reader.readAsDataURL(file);
            } else {
                photoPreview.src = '';
                photoPreview.style.display = 'none';
            }
        });
    });

</script>

    
</body>
</html>
