{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="image/x-icon" href="{% static 'img/afit.ico' %}" rel="icon" />
</head>
<body>



            <center style="margin-top: 60px;">


                <img src="{% static 'img/check.png' %}" alt="" width="200px"/>
                <h1>Congratulations </h1>
                <p>
                    Your registration was successful
                </p>

                <a href="{% url 'register' %}"><button>Go to Course Registration</button></a>

            </center>






</body>
</html>